<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="topnav">
  <a  class="active">Digital Books</a>
  <a class="active" routerLink="book" routerLinkActive="active" ><i class="fa fa-fw fa-home"></i> Home</a> 
  <a routerLink="signup" routerLinkActive="active" *ngIf="!isLoggedIn"><i class="fa fa-fw fa-user"></i> Sign up</a>
  <a routerLink="login" routerLinkActive="active" *ngIf="!isLoggedIn"><i class="fa fa-fw fa-user"></i> Login</a>

  <div class="username" *ngIf="isLoggedIn"> {{UserName}}</div>
  <button align="right" class="signout" *ngIf="isLoggedIn"  (click)="signOutClick()" > <i class="fa fa-fw fa-user"></i>Sign Out</button>
</div>

