
<div class="card m-3">
  <h5 class="card-header">Search Book</h5>
  <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="searchBooks()">
            <div class="form-row">
                <div class="form-group col">
                  <label> Category Name </label>
     <!-- #category (change)="onSelected(category.value)" -->
         <select #category  formControlName="bookmaster" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['bookmaster'].errors }" (change)="onSelected(category.value)"  > 
           <option value="0">--Select Category name--</option>  
             <option *ngFor="let Categories of CategoryList" value={{Categories.categoryId}}>                
               {{Categories.categoryName}}  
             </option>
         </select>
      <div *ngIf="submitted && f['bookmaster'].errors" class="invalid-feedback">
                     <div *ngIf="f['bookmaster'].errors['required']"> Please select Category Name</div>
                 </div>
                 </div>
           
            </div>
            <div class="form-row">
             
            
              <div class="form-group col">
                <label> Author Name </label>
                <select #Author formControlName="authormaster" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['authormaster'].errors }" (change)="SelectedAuthor(Author.value)">
                  <option value="default">--Select Author--</option>
                  <option *ngFor="let author of users" [value]="author.roleId">
                      {{author.userName}}
                  </option>
                </select>
              <div *ngIf="submitted && f['authormaster'].errors" class="invalid-feedback">
                            <div *ngIf="f['authormaster'].errors['required']"> Please select Author Name</div>
                 </div>
              </div>
            </div>
              <div class="form-row">
  <div class="form-group col">
    <label>Price</label>

    <input type="number" formControlName="pricecontrol" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['pricecontrol'].errors }" name="bookprice"  [(ngModel)]="book.price" />
    <div *ngIf="submitted && f['pricecontrol'].errors" class="invalid-feedback">
        <div *ngIf="f['pricecontrol'].errors['required']">Enter some price</div>
    </div>             
  </div>
</div>
            <div class="text-center">
                <button class="btn btn-primary mr-1">Search Books</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
            </div>
            
        </form>
    </div>
</div>
<br/>
<app-show-books [searchResult]="searchResult"></app-show-books>

<br/>
<br/>
<br/>